@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

/* Container chứa cả content-left và content-right */
.main-container {
    display: flex;
    height: 100vh;
}
.gear-icon-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #d7e2e2;
    font-size: 24px;
    cursor: pointer;
    transition: font-size 0.3s ease;
}
.content-left.collapsed .gear-icon-container {
    font-size: 20px;
}

.info-table {
    display: none;
    position: absolute;
    top: 78%;
    right: 87%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Hiển thị bảng thông tin khi được kích hoạt */
.info-table.visible {
    display: block;
}

.info-table p {
    margin: 0;
}

.content {
    min-height: 100vh;
    width: 100%;
}
#side_nav {
    max-width: 250px;
    min-width: 250px;
    transition: all 0.2s;
}
.sidebar li.active {
    border-radius: 8px;
    position: relative;
    /* Đặt position: relative */
    z-index: 1;
    /* Đặt z-index cho các mục active */
}
.sidebar li.active a {
    color: #fff;
    /* Màu chữ trắng */
    position: relative;
    /* Đặt position: relative */
    z-index: 2;
    /* Đặt z-index cao hơn để nổi lên trên nền */
}
.sidebar li.active:hover {
    background-color: rgb(27, 26, 26);
    /* Thêm màu nền khi hover */
}
.sidebar li a {
    color: white;
}
@media(max-width: 767px) {
    /* hiệu ứng di chuyển cho màn hình nhỏ : vd dt */
    #side_nav {
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active {
        margin-left: 0;
    }
}
