@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

.content-left {
    width: 15%;
    background-color: #032c09fa;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    transition: width 0.3s ease;
    overflow: hidden;
}

.collapsed {
    width: 50px;
}

.logo-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0 10px;
}

.logo {
    margin-left: 10px;
    border-radius: 8px;
    overflow: hidden;
}

.logo img {
    width: 180px;
    height: 90px;
    object-fit: cover;
}

.fa-bars {
    display: block;
    color: #0b0c0c;
    font-size: 50px;
    transition: font-size 0.3s ease;
    cursor: pointer;
}

.collapsed .fa-bars {
    font-size: 40px;
}
.menu-hidden .content-left {
    width: 50px;
    background-color: transparent;
}

.menu-hidden .gear-icon-container {
    display: none;
}

.menu-hidden .menu-item {
    display: none;
}

.menu-hidden .logo-container .logo img {
    display: none;
}

.menu-hidden .logo-container .logo {
    width: 50px;
}

.menu-hidden .logo-container {
    justify-content: center;
}


.gear-icon-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #d7e2e2;
    font-size: 24px;
    cursor: pointer;
    transition: font-size 0.3s ease;
}

.content-left.collapsed .gear-icon-container {
    font-size: 20px;
}

.menu {
    width: 100%;
    margin-top: 10px;
}

.menu-item a {
    text-decoration: none;
    color: #fff;
}

.menu-item:hover {
    background-color: #ada9a9;
}

.menu-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.menu-item {
    padding: 10px;
    border-bottom: 1px solid #fff;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    cursor: pointer;
}

.content-right {
    flex: 1;

    padding: 20px;
}


.info-table {
    display: none;
    position: absolute;
    top: 80%;
    right: 5%;

    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-table.visible {
    display: block;
}

.info-table p {
    margin: 0;
}

.content-right {
    position: relative;
    top: -392px;
}

.content-right strong {
    font-size: 24px;
}

.content-right hr {
    border-top: 3px solid #4CAF50;
    margin-bottom: 10px;
}

.content-right .row {
    display: flex;
    flex-wrap: wrap;

}

.content-right .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
}

.content-right p {
    margin-bottom: 0;
}

.content-right input[type="text"] {
    margin-top: 0;
    margin-bottom: 10px;
}

